node_modules/
.next/
.env
.env.local
prisma/dev.db
prisma/dev.db-journal
prisma/dev2.db
prisma/dev2.db-journal
*.app
.vscode/
.alcache/
.alpackages/
.snapshots/
.output/
rad.json
*.g.xlf
*.bclicense
*.flf
TestResults.xml
